extends _layout
block content
	// блок калькулятора
	.calculation
		.container
			h2.title Просчитайте стоимость шкафа всего за 3 шага
			// шаги калькулятора
			.calculation__steps-section
				- for (i = 1; i <= 3; ++i) {
					.calculation__steps-block
						p.calculation__steps-text Шаг #{i}
							img.calculation__steps-img(src="/img/ok.png", alt="okey")
						- if (i == 1) {
							button.calculation__steps-btn.active(type="button" step-btn="#{i}") Характеристики
						- } else if (i == 2) {
							button.calculation__steps-btn(type="button" step-btn="#{i}" disabled) Материалы
						- } else {
							button.calculation__steps-btn(type="button" step-btn="#{i}" disabled) стоимость
						- }
				- }
			// конец шаги калькулятора
			// шаг 1
			.row
				// блок с фильтрами
				.col-sm-3
					.calculation__filter
						// шаг 1
						.calculation__filter-step
							// фильтр дверей
							.calculation__filter-block
								p.calculation__filter-title._doors-bg Количество дверей
								.calculation__filter-radio-block
									.calculation__filter-radio-wrapper
										- for (i = 2; i <= 4; ++i) {
											- if (i == 3) {
												input.calculation__filter-radio(type="radio" name="doors" value="#{i}" id="radio_#{i}" checked)
												label.calculation__filter-label(for="radio_#{i}") #{i}
											-	} else {
												input.calculation__filter-radio(type="radio" name="doors" value="#{i}" id="radio_#{i}")
												label.calculation__filter-label(for="radio_#{i}") #{i}
											- }
										- }
							// конец фильтра дверей
							// фильтр глубины
							.calculation__filter-block
								p.calculation__filter-title._depth-bg Глубина
								.calculation__filter-range-wrapper(style="width: 210px;")
									.calculation__filter-range#depth
							// конец фильтра глубины
							// фильтр ширины
							.calculation__filter-block
								p.calculation__filter-title._width-bg Ширина
								.calculation__filter-range-wrapper
									.calculation__filter-range#width
							// конец фильтра ширины
							// фильтр высоты
							.calculation__filter-block
								p.calculation__filter-title._height-bg Высота
								.calculation__filter-range-wrapper
									.calculation__filter-range#height
							// конец фильтра высоты
							.calculation__filter-block
								button.btn.calculation__filter-btn(type="button") Следующий шаг
						// конец шаг 1
						// шаг 2
						.calculation__filter-step
							.calculation__filter-block.slideOut
								p.calculation__filter-title._doors-bg Материалы
								- for (i = 1; i <= 4; ++i) {
									select.calculation__filter-select(item-door-number="#{i}")
										option(item-door-material="none") Выберите Материал
										option(item-door-material="Door_bamboo") Бамбук
										option(item-door-material="Door_mirror") Зеркало
										option(item-door-material="Door_picture") Картинка
										option(item-door-material="Door_plastic") Пластик
								- }
							.calculation__filter-block.slideOut
								button.btn.calculation__filter-btn(type="button") Следующий шаг
						// конец шаг 2
						// шаг 3
						.calculation__filter-step
							.calculation__filter-block.slideOut
								p че ни будь из инфы еще
							.calculation__filter-block.slideOut
								p че ни будь из инфы
							.calculation__filter-block.slideOut
								button.btn.calculation__filter-btn(type="submit") Оформить заказ
						// конец шаг 3
				// конец блока с фильтрами
				// блок с изображением
				.col-sm-9
					.calculation__img-holder
						img.calculation__img(src="/img/items/2-doors/Wardrobe/Wardrobe_sec2_w40_h230_d40.png", alt="" next-img)
						img.calculation__img(src="/img/items/2-doors/Wardrobe/Wardrobe_sec2_w40_h230_d40.png", alt="" current-img)
						.calculation__material-holder
							img.calculation__material-holder-img(src="")
							img.calculation__material-holder-img(src="")
							img.calculation__material-holder-img(src="")
							img.calculation__material-holder-img(src="")
				// конец блока с изображением 
	// конец блока калькулятора