extends _layout
block content
	// Приемущества
	.advantages
		.container
			.row
				.col-sm-6.col-lg-3
					.advantages__block
						.advantages__img-wrapper
							img.advantages__img(src="img/advantages_1.png", alt="advantages")
						p.advantages__title Команда победителей
						p.advantages__text Наши сотудники постоянно обучаются и становятся все лучше и лучше. Никто не знает о шкафах столько, сколько мы.
				.col-sm-6.col-lg-3
					.advantages__block
						.advantages__img-wrapper
							img.advantages__img(src="img/advantages_2.png", alt="advantages")
						p.advantages__title Нечеловеческая справедливость
						p.advantages__text Ну очень доступные цены и крайне лояльные условия поразили человечество не меньше, чем перемещение во времеи.
				.col-sm-6.col-lg-3
					.advantages__block
						.advantages__img-wrapper
							img.advantages__img(src="img/advantages_3.png", alt="advantages")
						p.advantages__title Делаем быстро но надолго
						p.advantages__text Шкафинатор не только делает свою работу быстро, но и крепко, так, чтобы шкаф прослужил вам долгие года. 
				.col-sm-6.col-lg-3
					.advantages__block
						.advantages__img-wrapper
							img.advantages__img(src="img/advantages_4.png", alt="advantages")
						p.advantages__title Железные<br>гарантии
						p.advantages__text Мы гарантируем, что наши шкафы действительно долговеченые. Вы получите гарантийный талон на 5 лет!
	// конец Приемущества
	// блок калькулятора
	.calculation#calculation
		.container
			h2.title Просчитайте стоимость шкафа всего за 3 шага
			// шаги калькулятора
			.calculation__steps-section
				- for (i = 1; i <= 3; ++i) {
					.calculation__steps-block
						p.calculation__steps-text Шаг #{i}
							img.calculation__steps-img(src="img/ok.png", alt="okey")
						- if (i == 1) {
							button.calculation__steps-btn.active(type="button" step-btn="#{i}") Характеристики
						- } else if (i == 2) {
							button.calculation__steps-btn(type="button" step-btn="#{i}" disabled) Материалы
						- } else {
							button.calculation__steps-btn(type="button" step-btn="#{i}" disabled) стоимость
						- }
				- }
			// конец шаги калькулятора
			.row
				// блок с фильтрами
				.col-sm-4.col-md-3
					.calculation__filter
						form(action="form")
							// шаг 1
							.calculation__filter-step
								// фильтр дверей
								.calculation__filter-block
									p.calculation__filter-title._doors-bg Количество дверей
									.calculation__filter-radio-block
										.calculation__filter-radio-wrapper
											- for (i = 2; i <= 4; ++i) {
												- if (i == 3) {
													input.calculation__filter-radio(type="radio" name="doors" value="#{i}" id="radio_#{i}" checked)
													label.calculation__filter-label(for="radio_#{i}") #{i}
												-	} else {
													input.calculation__filter-radio(type="radio" name="doors" value="#{i}" id="radio_#{i}")
													label.calculation__filter-label(for="radio_#{i}") #{i}
												- }
											- }
								// конец фильтра дверей
								// фильтр глубины
								.calculation__filter-block
									p.calculation__filter-title._depth-bg Глубина
									.calculation__filter-range-wrapper(style="width: 210px;")
										.calculation__filter-range#depth
								// конец фильтра глубины
								// фильтр ширины
								.calculation__filter-block
									p.calculation__filter-title._width-bg Ширина
									.calculation__filter-range-wrapper
										.calculation__filter-range#width
								// конец фильтра ширины
								// фильтр высоты
								.calculation__filter-block
									p.calculation__filter-title._height-bg Высота
									.calculation__filter-range-wrapper
										.calculation__filter-range#height
								// конец фильтра высоты
								.calculation__filter-block
									button.btn.calculation__filter-btn(type="button") Следующий шаг
							// конец шаг 1
							// шаг 2
							.calculation__filter-step.hidden
								.calculation__filter-block.slideOut
									p.calculation__filter-title._material-bg Материалы
									.calculation__filter-select-block
										- for (i = 1; i <= 4; ++i) {
											select.calculation__filter-select(item-door-number="#{i}")
												option(data-class="none" item-door-material="none") Выберите материал
												option(data-class="bamboo" item-door-material="Door_bamboo") Бамбук, Ротанг, Эко-кожа 
												option(data-class="mirror" item-door-material="Door_mirror") Зеркало с узором
												option(data-class="oracal" item-door-material="Door_oracal") Оракал
												option(data-class="picture" item-door-material="Door_picture") Фотопечать
												option(data-class="wood" item-door-material="Door_wood") ДСП
												option(data-class="mirror-flat" item-door-material="Door_mirror-flat") Зеркало
										- }
								.calculation__filter-block.slideOut
									button.btn.calculation__filter-btn(type="button") Следующий шаг
							// конец шаг 2
							// шаг 3
							.calculation__filter-step.hidden
								.calculation__filter-block.slideOut
									p.calculation__filter-text Принято! Ваш шкаф будет стоить:
									p.calculation__filter-old-price(replaced-number price) 24400
									span.rubl a
								.calculation__filter-block.slideOut
									p.calculation__filter-text Оформляйте прямо сейчас и мы скинем 5% от цены! Стоимость будет:
									p.calculation__filter-price(replaced-number total-price) 21960
									span.rubl a
								.calculation__filter-block.slideOut
									input.calculation__filter-input(type="text" required placeholder="Ваше имя")
									input.calculation__filter-input(type="text" required placeholder="Контактный телефон" mask)
								.calculation__filter-block.slideOut
									button.btn.calculation__filter-btn(type="submit") Заказать сейчас
							// конец шаг 3
				// конец блока с фильтрами
				// блок с изображением
				.col-sm-8.col-md-9
					.calculation__img-holder
						// текущие картинки
						img.calculation__img(src="", next-img)
						img.calculation__img(src="", current-img)
						// конец текущие картинки
						.calculation__material-holder
							// картинки для материалов дверей
							img.calculation__material-holder-img(src="")
							img.calculation__material-holder-img(src="")
							img.calculation__material-holder-img(src="")
							img.calculation__material-holder-img(src="")
							// конец картинки для материалов дверей
						// картинка по шагам
						img.calculation__master.hidden-xs.step-1(src="img/sh-st-1.png", alt="sh-st-1.png")
						// конец картинки по шагам
				// конец блока с изображением 
	// конец блока калькулятора
	// отзывы
	.feedback.hidden-xs.hidden-sm
		.container(style="overflow:hidden;")
			.row
				.col-sm-12.col-xs-12
					p.title Подвиги и благодарности
			.row
				.col-sm-12.col-xs-12
					// блок со слайдером
					.feedback__slider-block
						ul.feedback__slider
							// 1 слайд
							li.feedback__slider-item
								.col-md-4
									// блок с картинками работы
									.feedback__gallery
										.feedback__gallery-block
											a(href="img/content/g1.jpg" fancybox rel="gallery")
												.feedback__gallery-img(style="background: url(img/content/g1.jpg) center no-repeat")
										.feedback__gallery-block
											a(href="img/content/g2.jpg" fancybox rel="gallery")
												.feedback__gallery-img(style="background: url(img/content/g2.jpg) center no-repeat")
										.feedback__gallery-block
											a(href="img/content/g3.jpg" fancybox rel="gallery")
												.feedback__gallery-img(style="background: url(img/content/g3.jpg) center no-repeat")
									// конец блока с картинкам работы
								.col-lg-8.col-md-12
									.feedback__slider-description
										img.feedback__slider-description-bg(src="img/slide-bg.png", alt="")
										.feedback__slider-description-block
											p.feedback__slider-description-title Шкафинатору
												img(src="img/heart.png", alt="")
											.feedback__slider-value
												.row
													.col-sm-6
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 3
															p.feedback__slider-value-text Двери
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 50см
															p.feedback__slider-value-text Ширина
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 50см
															p.feedback__slider-value-text Глубина
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 2500см
															p.feedback__slider-value-text Высота
													.col-sm-6
														.feedback__slider-value-total
															p.feedback__slider-value-total-text К оплате:
															p.feedback__slider-value-total-price(replaced-number) 24000
																span.rubl a
											p.feedback__slider-description-text Давно искала возможность заказать для дома шкаф. Пришло время! Я бы сказала пришел Шкафовский - мой супергерой! :)
											.col-sm-7
												p.feedback__slider-description-author
													img(src="img/social.png", alt="")
													| Мария Кравченко
											.col-sm-5
												p.feedback__slider-description-date 22 Август, 2015
							// конец одного слайда
							li.feedback__slider-item
								.col-md-4
									// блок с картинками работы
									.feedback__gallery
										.feedback__gallery-block
											a(href="img/content/g2.jpg" fancybox)
												.feedback__gallery-img(style="background: url(img/content/g2.jpg) center no-repeat")
									// конец блока с картинкам работы
								.col-lg-8.col-md-12
									.feedback__slider-description
										img.feedback__slider-description-bg(src="img/slide-bg.png", alt="")
										.feedback__slider-description-block
											p.feedback__slider-description-title Шкафинатору
												img(src="img/heart.png", alt="")
											.feedback__slider-value
												.row
													.col-sm-6
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 4
															p.feedback__slider-value-text Двери
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 40см
															p.feedback__slider-value-text Ширина
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 70см
															p.feedback__slider-value-text Глубина
														.feedback__slider-value-block.col-sm-6
															p.feedback__slider-value-number 2700см
															p.feedback__slider-value-text Высота
													.col-sm-6
														.feedback__slider-value-total
															p.feedback__slider-value-total-text К оплате:
															p.feedback__slider-value-total-price(replaced-number) 124000
																span.rubl a
											p.feedback__slider-description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis assumenda itaque omnis, minus est molestias facere blanditiis aliquid ut aspernatur?
											.col-sm-7
												p.feedback__slider-description-author
													img(src="img/social.png", alt="")
													| Мария Кравченко
											.col-sm-5
												p.feedback__slider-description-date 22 Август, 2015
					// конец блока со слайдером
			.row
				.col-sm-12.col-xs-12.text-center
					a.btn.feedback__btn(href="#order" fancybox) Хочу точно такой же!
	// конец отзывы
	// факты
	.fact
		.container
			.row
				.col-sm-12
					p.fact__title А знаете ли вы что…
			.fact__block
				.row
					.col-md-7.col-sm-8
						// текст факта слева
						p.fact__text Шкаф появился в средние века в феодальной Европе. Долгое время он носил четкий след своего прародителя - сундука и имел ручки на боковых стенках. Одежда в нем хранилась только на полках.
						// конец текст факта слева
						p.fact__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam ex officiis officia ab ipsam! Nam fuga commodi ea consequatur.
						p.fact__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nisi veniam ipsam iure ad doloribus doloremque minima maiores laboriosam pariatur at, labore eum molestiae modi omnis maxime ea officia eos?
					.col-md-2.hidden-xs.hidden-sm.position-static
						img.fact__img(src="img/fact_shkafinator.png", alt="fact_shkafinator")
					.col-md-3.col-sm-4
						// текст справа
						p.fact__extra-text А наша компания появилась совсем недавно, что в общем-то, очень хорошо. Ведь кому нужен шкаф в виде чемодана?
						// конец текста страва
						p.fact__extra-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sed assumenda quo accusamus, labore molestiae dolor possimus qui voluptates quidem aliquam libero asperiores reprehenderit odit aperiam iure tempora neque deserunt.
						p.fact__extra-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque error, tempora itaque cumque nulla eveniet totam, consectetur quis provident.
			.row
				.col-sm-12.text-right
					a.fact__changer(href="#!") Еще интересный факт
	// конец факты
	// дополнительные приемущества
	.extra-advantages
		.container
			.row
				.col-sm-12.text-center
					p.title.extra-advantages__title Так почему же наши шкафы так популярны?
			.row
				.col-sm-6
					// блок 1-го приемущества
					.extra-advantages__block
						.row
							.col-sm-3.col-lg-2
								img.extra-advantages__block-img(src="img/ext_advantages_1.png", alt="ext_advantages")
							.col-sm-9.col-lg-10
								p.extra-advantages__block-title Материалы высокого качества
								p.extra-advantages__block-text Материалы, из которых изготавливается шкаф, проходят строгую проверку качества.
					// конец блока 1 приемущества 
				.col-sm-6
					.extra-advantages__block
						.row
							.col-sm-3.col-lg-2
								img.extra-advantages__block-img(src="img/ext_advantages_2.png", alt="ext_advantages")
							.col-sm-9.col-lg-10
								p.extra-advantages__block-title Экологичность и безопасность
								p.extra-advantages__block-text Наши шкафы сделаны с применением только экологичных материалов, которые проходят специальную обработку.
			.row
				.col-sm-6
					.extra-advantages__block
						.row
							.col-sm-3.col-lg-2
								img.extra-advantages__block-img(src="img/ext_advantages_3.png", alt="ext_advantages")
							.col-sm-9.col-lg-10
								p.extra-advantages__block-title Современное немецкое оборудование
								p.extra-advantages__block-text Надежные рельсы, по которым ездят двери, выполнены по немецким страндартам качества.
				.col-sm-6
					.extra-advantages__block
						.row
							.col-sm-3.col-lg-2
								img.extra-advantages__block-img(src="img/ext_advantages_4.png", alt="ext_advantages")
							.col-sm-9.col-lg-10
								p.extra-advantages__block-title Большой выбор вариантов оформления
								p.extra-advantages__block-text Подберите себе такой шкаф, который отлично впишется в интерьер вашего дома. Мы вам в это поможем.
			.row
				.col-sm-6
					.extra-advantages__block
						.row
							.col-sm-3.col-lg-2
								img.extra-advantages__block-img(src="img/ext_advantages_5.png", alt="ext_advantages")
							.col-sm-9.col-lg-10
								p.extra-advantages__block-title Усиленная пленка на зеркала и стекла
								p.extra-advantages__block-text При разбитии зеркал на дверях, они не осыпается, что увиличивает безопасность вас и ваших детей!
				.col-sm-6
					.extra-advantages__block
						.row
							.col-sm-3.col-lg-2
								img.extra-advantages__block-img(src="img/ext_advantages_6.png", alt="ext_advantages")
							.col-sm-9.col-lg-10
								p.extra-advantages__block-title Только обрезиненные колеса
								p.extra-advantages__block-text Такие колеса не шумят при открывании и закрывании дверей. Двери открываются мягко и плавно.
			.row
				.col-sm-12.text-center
					a.btn.extra-advantages__btn(href="#order" fancybox) Заказать шкаф-купе
	// конец дополнительных приемуществ
	// блок с карто
	.map
		.container
			.row
				.col-sm-12
					p.title.map__title Мы производим и доставляем шкафы по всей Москве и области
		.map__block
			.map__block-inner
				#map
	// конец блока с картой